# SPDX-FileCopyrightText: 2026 Kaito Udagawa <umireon@kaito.tokyo>
#
# SPDX-License-Identifier: Apache-2.0

If:
  PathMatch: (Sources/LDTXAudioEngine|Tests/LDTXAudioEngineCMakeTests)/.*
CompileFlags:
  Add:
    - -std=c++20
