# SPDX-FileCopyrightText: 2026 Kaito Udagawa <umireon@kaito.tokyo>
#
# SPDX-License-Identifier: Apache-2.0

.DS_Store
.build/
.derivedData*/
.venv

/build/
/docs/dist/

# SwiftPM for Xcodegen
*.xcodeproj/**/*
!*.xcodeproj/project.xcworkspace
!*.xcodeproj/project.xcworkspace/xcshareddata
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm
!Package.resolved
