# SPDX-FileCopyrightText: 2026 Kaito Udagawa <umireon@kaito.tokyo>
#
# SPDX-License-Identifier: Apache-2.0

.DS_Store
.venv
.xcodegen/
.xcodegen-*.zip

/build/

/*.xcodeproj/
**/.build/
**/.derivedData*/
**/DerivedData/
**/.swiftpm-cache/
**/.swiftpm/
**/*.xcresult/
