<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: 2026 Kaito Udagawa <umireon@kaito.tokyo>

SPDX-License-Identifier: Apache-2.0
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>tokyo.kaito.ldtx.LDTX.BrokerService</string>
    <key>BundleProgram</key>
    <string>Contents/Library/Helpers/LDTXBrokerService</string>
    <key>MachServices</key>
    <dict>
        <key>tokyo.kaito.ldtx.LDTX.BrokerService</key>
        <true/>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
